@import url('https://fonts.googleapis.com/css?family=Barlow:300,300i,400,600|Tomorrow:600&display=swap');

$colors:(
    primary: #0C2B3D,
    secondary:#24435E,
    button: #376892,
    ltext: #F2F2F2,
    dtext: #323337,
    trans: #24435e80,
);

h1{
    font-family: 'Tomorrow', sans-serif;
    font-size: 80px;
    color: map-get($colors , ltext );
    margin: 0;
}

h2{
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    color: map-get($colors , ltext );
    font-size: 38px;
    margin: 0;
}

p{
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    color: map-get($colors , ltext );
    font-size: 24px;
    margin: 0;
    line-height: 34px;
}

.quote{
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    font-style: italic;
    color: map-get($colors , ltext );
    font-size: 54px;
    margin: 0;
    line-height: 58px;
    text-align: center;
}

body{
    background-image: url("../Assets/jpg/1st_Semester_Projekt_baggrund.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
    margin: 0;
}

main{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    height: 5900px;
}

#earth{
    width: 100%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    margin-top: -145vh;
    transform: rotate(180deg);
}

#rocket{
    width: 100px;
    height: 200px;
    position: fixed;
    transform: translateY(650px);
    z-index: 1;
}

#box1_container{
    width: 100%;
    height: 4940px;
    display: flex;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin-top: 1100px;
}

.box1{
    height: 9%;
    width: 56%;
    background-color: map-get($map: $colors, $key: trans);
    position: relative;
    z-index: 2;
    box-sizing: border-box;
    display: flex;
    padding: 25px;
}

.box1 img{
    width: 400px;
    height: 400px;
    align-self: center;
}

.box1:nth-child(odd){
    align-self: flex-end;
}

.box1:nth-child(1){
    p{
        width: 400px;
        height: 400px;
    }
    justify-content: space-between;
}

.box1:nth-child(2){
    h2{
            margin-top: 10px;
    }
    p{
        width: auto;
        margin-top: 30px;
    }
    flex-flow: column;
}

.box1:nth-child(3){
    p{
        width: 500px;
        height: 150px;
    }
    .quote{
        margin: 20px 40px;
    }
    justify-content: space-around;
}

.box1:nth-child(4){
    p{
        width: 100%;
        height: 150px;
        padding: 0 20px;
        box-sizing: border-box;
    }
    .quote{
    
    }
    justify-content: space-around;
    flex-flow: column;
}


@media only screen and (max-width: 600px){
    body{
        background-image: url("../Assets/jpg/1st_Semester_Projekt_baggrund.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0;  
        background-position: top center;
    }
    p{
        font-size: 11px;
    }
}
