@import url("https://fonts.googleapis.com/css?family=Barlow:300,300i,400,600|Tomorrow:600&display=swap");
h1 {
  font-family: "Tomorrow", sans-serif;
  font-size: 80px;
  color: #F2F2F2;
  margin: 0;
}

h2 {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  color: #F2F2F2;
  font-size: 38px;
  margin: 0;
}

p {
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  color: #F2F2F2;
  font-size: 24px;
  margin: 0;
  line-height: 34px;
}

.quote {
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  font-style: italic;
  color: #F2F2F2;
  font-size: 54px;
  margin: 0;
  line-height: 58px;
  text-align: center;
}

body {
  background-image: url("../Assets/jpg/1st_Semester_Projekt_baggrund.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-flow: column;
  margin: 0;
}

header {
  align-self: center;
  width: 80%;
  height: 180px;
  display: flex;
  justify-content: center;
  background-color: #000000a7;
  position: fixed;
  z-index: 9;
  transition: 0.6s ease-in-out;
}
header .info {
  position: fixed;
  transform: translate(-360px, 73px);
  z-index: 8;
  text-decoration: none;
  transition: 0.6s ease-in-out;
}
header .info h2 {
  font-size: 38px;
  font-weight: 300;
  transition: ease 0.5s;
}
header .info-up {
  transform: translate(-250px, -50px);
  opacity: 0%;
}
header .about {
  position: fixed;
  transform: translate(400px, 73px);
  z-index: 6;
  text-decoration: none;
  transition: 0.6s ease-in-out;
}
header .about h2 {
  font-size: 36px;
  font-weight: 300;
  transition: ease 0.5s;
}
header .about-up {
  transform: translate(300px, -50px);
  opacity: 0%;
}

.header-up {
  transform: translateY(-200px);
  opacity: 50%;
}

#logo {
  width: 450px;
  position: fixed;
  z-index: 5;
  transform: translate(-225px, 40px);
}

main {
  display: flex;
  flex-flow: column;
  align-items: center;
}

#rocket {
  width: 100px;
  height: 200px;
  position: fixed;
  transform: translateY(650px);
  z-index: 1;
}

#box1_container {
  width: 100%;
  height: 4940px;
  display: flex;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin-top: 1000px;
}
#box1_container .box1 {
  height: 9%;
  width: 56%;
  background-color: #0c2b3dd5;
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  display: flex;
  padding: 40px;
}
#box1_container .box1:nth-child(odd) {
  align-self: flex-end;
}
#box1_container .box1:nth-child(5) {
  justify-content: space-around;
}
#box1_container .box1:nth-child(5) p {
  width: 480px;
  height: 270px;
  font-size: 39px;
  line-height: 42px;
  text-align: center;
  align-self: center;
}
#box1_container .box1:nth-child(5) img {
  height: 360px;
}
#box1_container .box1:nth-child(1), #box1_container .box1:nth-child(3), #box1_container .box1:nth-child(4), #box1_container .box1:nth-child(6) {
  justify-content: space-around;
  flex-flow: column;
  box-sizing: border-box;
  align-items: center;
}
#box1_container .box1:nth-child(1) p, #box1_container .box1:nth-child(3) p, #box1_container .box1:nth-child(4) p, #box1_container .box1:nth-child(6) p {
  width: 90%;
  height: 50px;
  padding: 0 20px;
  box-sizing: border-box;
  font-size: 36px;
  text-align: center;
}
#box1_container .box1:nth-child(1) .quote, #box1_container .box1:nth-child(3) .quote, #box1_container .box1:nth-child(4) .quote, #box1_container .box1:nth-child(6) .quote {
  margin: 0;
  height: 250px;
  font-size: 54px;
}
#box1_container .box1:nth-child(2) {
  justify-content: space-between;
  padding: 40px;
}
#box1_container .box1:nth-child(2) p {
  width: 480px;
  height: 270px;
  font-size: 39px;
  line-height: 42px;
  text-align: center;
  align-self: center;
}
#box1_container .box1:nth-child(2) img {
  height: 360px;
}

#SpaceShuttle {
  position: absolute;
  top: 1300px;
  height: 1700px;
}

#SpaceSuit {
  position: absolute;
  top: 3900px;
  height: 1700px;
}

#box2_container {
  height: 5000px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding-top: 500px;
}
#box2_container .box2 {
  height: 7%;
  width: 56%;
  background-color: #0c2b3dd5;
  position: relative;
  z-index: 2;
  display: flex;
  padding: 40px;
  flex-flow: column;
}
#box2_container .box2 h2 {
  margin-bottom: 20px;
}
#box2_container .box2:nth-child(even) {
  align-self: flex-end;
}
#box2_container .box2:nth-child(2), #box2_container .box2:nth-child(3), #box2_container .box2:nth-child(4), #box2_container .box2:nth-child(6), #box2_container .box2:nth-child(7), #box2_container .box2:nth-child(8) {
  width: 40%;
  height: 8%;
  padding-top: 35px;
}

#box3_container {
  height: 3700px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding-top: 500px;
}
#box3_container .box3 {
  height: 9%;
  width: 56%;
  background-color: #0c2b3dd5;
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  display: flex;
  padding: 40px;
  justify-content: space-around;
}
#box3_container .box3 .text {
  width: 60%;
  height: 100%;
  display: flex;
  flex-flow: column;
}
#box3_container .box3 .text h2 {
  margin-bottom: 10px;
}
#box3_container .box3 .text p {
  margin-top: 5px;
}
#box3_container .box3:nth-child(even) {
  align-self: flex-end;
}
#box3_container .box3:nth-child(1) img {
  width: 280px;
  height: 277.8px;
  align-self: center;
}
#box3_container .box3:nth-child(3) img {
  width: 174.3px;
  height: 280px;
  align-self: center;
}
#box3_container .box3:nth-child(4) img {
  width: 280px;
  height: 280px;
  align-self: center;
}
#box3_container .box3:nth-child(4) p {
  margin-top: 20px;
  font-size: 32px;
  text-align: center;
  font-style: italic;
}
#box3_container .box3:nth-child(5) img {
  width: 280px;
  height: 201.7px;
  align-self: center;
}
#box3_container .box3:nth-child(5) p {
  margin-top: 50px;
  font-size: 32px;
  text-align: center;
  font-style: italic;
}
#box3_container .box3:nth-child(6) img {
  width: 280px;
  height: 248px;
  align-self: center;
}
#box3_container .box3:nth-child(6) p {
  margin-top: 30px;
  font-size: 32px;
  text-align: center;
  font-style: italic;
}
#box3_container .box3:nth-child(2) img {
  width: 280px;
  height: 192px;
  align-self: center;
}
#box3_container #Newsletter {
  width: 80%;
  height: 30px;
  background-color: #f2f2f2;
  margin-top: 40px;
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  color: #323337;
  font-size: 24px;
  padding-left: 10px;
  align-self: center;
}
#box3_container #submit {
  width: 150px;
  background-color: #F2F2F2;
  align-self: center;
  margin-top: 20px;
  border: none;
}
#box3_container #submit p {
  font-weight: 400;
  color: #323337;
}

footer {
  margin-top: 200px;
  width: 100%;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 5;
}
footer #frame {
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  border-top: 3px #f2f2f2 solid;
}
footer #logobox {
  width: 40%;
  border-right: 3px #f2f2f2 solid;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer #logobox img {
  width: 70%;
  position: relative;
  z-index: 5;
}
footer #navbox {
  width: 60%;
  height: 80%;
  display: flex;
  flex-flow: column;
  align-items: center;
}
footer #topnav {
  width: 90%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 3px #f2f2f2 solid;
}
footer #topnav a {
  text-decoration: none;
}
footer #topnav a h2 {
  font-weight: 300;
  font-size: 38px;
}
footer #nav {
  height: 70%;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  border-right: 3px solid #f2f2f2;
  width: 30%;
}
footer #contact {
  height: 80%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  box-sizing: border-box;
}
footer #bottomnav {
  width: 90%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
footer .fab {
  font-size: 80px;
  color: #F2F2F2;
}

@media only screen and (max-width: 600px) {
  body {
    background-position: top center;
    background-position-y: -300px;
    background-size: 2000px;
  }

  p {
    font-size: 12px;
  }

  .quote {
    line-height: 34px;
  }

  header {
    width: 90%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-self: center;
  }
  header #logo {
    width: 225px;
    transform: translate(-112.5px, 40px);
  }
  header .info {
    transform: translate(0px, 210px);
  }
  header .info h2 {
    font-size: 32px;
  }
  header .info-up {
    transform: translate(-250px, -50px);
  }
  header .about {
    transform: translate(0px, 130px);
  }
  header .about h2 {
    font-size: 32px;
  }
  header .about-up {
    transform: translate(300px, -50px);
  }
  header a:hover h2 {
    font-size: 32px;
  }

  .header-up {
    transform: translateY(-400px);
  }

  #rocket {
    transform: translateY(380px);
  }

  #box1_container {
    height: 4000px;
    margin-top: 1000px;
  }
  #box1_container .box1 {
    height: 12%;
    width: 100%;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
  }
  #box1_container .box1:nth-child(2) p {
    width: 100%;
    height: 300px;
    font-size: 22px;
  }
  #box1_container .box1:nth-child(2) img {
    height: 260px;
    width: 260px;
  }
  #box1_container .box1:nth-child(1), #box1_container .box1:nth-child(3), #box1_container .box1:nth-child(4), #box1_container .box1:nth-child(6) {
    height: 7%;
    justify-content: space-evenly;
  }
  #box1_container .box1:nth-child(1) p, #box1_container .box1:nth-child(3) p, #box1_container .box1:nth-child(4) p, #box1_container .box1:nth-child(6) p {
    width: 90%;
    height: 30px;
    font-size: 22px;
    margin-top: 20px;
  }
  #box1_container .box1:nth-child(1) .quote, #box1_container .box1:nth-child(3) .quote, #box1_container .box1:nth-child(4) .quote, #box1_container .box1:nth-child(6) .quote {
    height: 150px;
    font-size: 22px;
  }
  #box1_container .box1:nth-child(5) p {
    width: 110%;
    height: 250px;
    font-size: 22px;
    margin-top: 40px;
  }
  #box1_container .box1:nth-child(5) img {
    height: 260px;
    width: 260px;
  }

  #SpaceShuttle {
    position: absolute;
    top: 1400px;
    width: 90%;
    height: auto;
  }

  #SpaceSuit {
    position: absolute;
    top: 3900px;
    height: auto;
    width: 90%;
  }

  #box2_container {
    padding-top: 350px;
    width: 100%;
  }
  #box2_container .box2 {
    height: fit-content;
    width: 100%;
    padding: 40px 0;
  }
  #box2_container .box2 p {
    font-size: 15px;
    width: 100%;
    height: fit-content;
    padding: 0 40px;
    box-sizing: border-box;
  }
  #box2_container .box2 h2 {
    padding-left: 40px;
  }
  #box2_container .box2:nth-child(even) {
    align-self: flex-start;
  }
  #box2_container .box2:nth-child(2), #box2_container .box2:nth-child(3), #box2_container .box2:nth-child(4), #box2_container .box2:nth-child(6), #box2_container .box2:nth-child(7), #box2_container .box2:nth-child(8) {
    width: 100%;
  }

  #box3_container {
    padding-top: 400px;
    height: 5300px;
  }
  #box3_container .box3 {
    width: 100%;
    height: 13%;
    flex-flow: column;
  }
  #box3_container .box3 .text {
    width: 100%;
    height: 40%;
    margin: 0;
  }
  #box3_container .box3 .text h2 {
    margin-top: 0;
  }
  #box3_container .box3 .text p {
    font-size: 15px;
  }
  #box3_container .box3:nth-child(3) p, #box3_container .box3:nth-child(4) p, #box3_container .box3:nth-child(5) p {
    margin-top: 30px;
    font-size: 32px;
    text-align: center;
    font-style: italic;
  }

  footer {
    margin-top: 200px;
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 8;
  }
  footer #frame {
    width: 90%;
    flex-flow: column;
    align-items: center;
    border-top: 3px #f2f2f2 solid;
  }
  footer #logobox {
    width: 100%;
    border-right: none;
    border-bottom: 3px #f2f2f2 solid;
    height: 450px;
    padding: 20px;
    box-sizing: border-box;
  }
  footer #logobox a {
    width: 100%;
    height: 400px;
  }
  footer #navbox {
    width: 100%;
    height: 600px;
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  footer #topnav {
    width: 100%;
    height: 400px;
    align-items: center;
    flex-flow: column;
    justify-content: space-evenly;
    border-bottom: 3px #f2f2f2 solid;
  }
  footer #nav {
    display: none;
  }
  footer #contact p {
    font-size: 24px;
    text-shadow: 1px 1px 1px black;
  }
  footer #bottomnav {
    width: 90%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 20px;
    margin-bottom: 100px;
  }
  footer .fab {
    font-size: 60px;
    color: #F2F2F2;
  }
  footer a {
    text-decoration: none;
  }
  footer a h2 {
    font-weight: 300;
    font-size: 52px;
  }
}

/*# sourceMappingURL=style.css.map */
