@import url("https://fonts.googleapis.com/css?family=Barlow:300,300i,400,600|Tomorrow:600&display=swap");
h1 {
  font-family: "Tomorrow", sans-serif;
  font-size: 80px;
  color: #F2F2F2;
  margin: 0;
}

h2 {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  color: #F2F2F2;
  font-size: 38px;
  margin: 0;
}

p {
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  color: #F2F2F2;
  font-size: 24px;
  margin: 0;
  line-height: 34px;
}

.quote {
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  font-style: italic;
  color: #F2F2F2;
  font-size: 54px;
  margin: 0;
  line-height: 58px;
  text-align: center;
}

body {
  background-image: url("../Assets/jpg/1st_Semester_Projekt_baggrund.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}

header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
}
header .info {
  position: fixed;
  transform: translate(-360px, 75px);
  z-index: 6;
  text-decoration: none;
  transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}
header .info h2 {
  font-size: 32px;
}
header .info-up {
  transform: translate(-350px, -50px);
  opacity: 0%;
}
header .about {
  position: fixed;
  transform: translate(400px, 75px);
  z-index: 6;
  text-decoration: none;
  transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}
header .about h2 {
  font-size: 32px;
}
header .about-up {
  transform: translate(400px, -50px);
  opacity: 0%;
}

#logo {
  width: 450px;
  position: fixed;
  z-index: 5;
  transform: translateY(40px);
}

main {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  height: 5900px;
}

#earth {
  width: 100%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  margin-top: -145vh;
  transform: rotate(180deg);
}

#rocket {
  width: 100px;
  height: 200px;
  position: fixed;
  transform: translateY(550px);
  z-index: 1;
}

#box1_container {
  width: 100%;
  height: 4940px;
  display: flex;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin-top: 1000px;
}

.box1 {
  height: 9%;
  width: 56%;
  background-color: #24435e80;
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  display: flex;
  padding: 40px;
}

.box1:nth-child(odd) {
  align-self: flex-end;
}

.box1:nth-child(1) {
  justify-content: space-around;
}
.box1:nth-child(1) p {
  width: 400px;
  height: 400px;
}
.box1:nth-child(1) img {
  height: 360px;
}

.box1:nth-child(2) {
  flex-flow: column;
  padding: 40px;
}
.box1:nth-child(2) p {
  width: auto;
  margin-top: 30px;
}

.box1:nth-child(3) {
  justify-content: space-around;
  flex-flow: column;
  box-sizing: border-box;
  align-items: center;
}
.box1:nth-child(3) p {
  width: 90%;
  height: 50px;
  padding: 0 20px;
  box-sizing: border-box;
  font-size: 36px;
  text-align: center;
}
.box1:nth-child(3) .quote {
  margin: 0;
  height: 250px;
  font-size: 54px;
}

.box1:nth-child(4) {
  justify-content: space-around;
  flex-flow: column;
  box-sizing: border-box;
  align-items: center;
}
.box1:nth-child(4) p {
  width: 90%;
  height: 150px;
  padding: 0 20px;
  box-sizing: border-box;
  font-size: 36px;
  text-align: center;
}
.box1:nth-child(4) .quote {
  margin: 20px 40px;
  height: 250px;
  font-size: 54px;
}

.box1:nth-child(5) {
  flex-flow: column;
  padding: 40px;
}
.box1:nth-child(5) p {
  width: auto;
  margin-top: 30px;
}

.box1:nth-child(6) {
  justify-content: space-between;
  padding: 40px;
}
.box1:nth-child(6) p {
  width: 500px;
  height: 400px;
}
.box1:nth-child(6) img {
  height: 360px;
}

@media only screen and (max-width: 600px) {
  body {
    background-image: url("../Assets/jpg/1st_Semester_Projekt_baggrund.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    background-position: top center;
  }

  p {
    font-size: 11px;
  }
}

/*# sourceMappingURL=style.css.map */
